@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Sarpanch:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

html{
  background-color: #FFFFFF;
}

.App {
  font-family: 'Jura', sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Navigation */

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0170FF;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.footerToolbar{
  align-items: center;
  align-items: center;
}


.navbar{
  z-index: 1030;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: #FFFFFF;
  background-color: #0170FF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-brand{
  color: #FFFFFF;
  padding: 0;
  margin-left: 1.5rem;
  width: 3rem;
  height: 3rem;
}

.navbar-brand:hover{
  color: #0170FF;
  opacity: 1;
}

.btn
{
background: #FFFFFF;
font-family: 'Teko', sans-serif;
font-size: 1.2rem;
width: 7rem;
margin-top : 10px;
margin-bottom: 10px;
margin-left: 20px;
color: #0170FF !important;
font-weight: bold;
border-radius: 1.0rem;
border: 2px solid transparent;
}
.btn:hover
{
background: #0170FF;
font-weight: bold;
color: #FFFFFF !important;
border: 2px solid #0170FF;
border-bottom: 2px solid #FFFFFF;
}

.navImg{
  margin-top : 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 2rem;
  height: 2rem;
}

.navImgBig{
  margin-top : 12px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1.7rem;
  height: 1.7rem;
}

.modal-title{
  align-content: center;
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
}



.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 10rem);
    overflow-y: scroll;
}

.iframe{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height:100%;
}

/* Floating Active Button */

.fab-container{
  position: fixed;
  bottom: 70px;
  right: 50px;
  z-index: 999;
}

.fab-icon-holder{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #0170FF;
  border: 2px solid #0170FF;
  opacity: 0.9;
  cursor: pointer;
}

.fab-icon-holder:hover{
  opacity: 1;
  border: 2px solid #000000;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: 25px;
}

.fab{
  width : 60px;
  height : 60px;
  background: #FFFFFF;
  transition: all .2s ease-in-out;
}

.fab:hover{
  transform: scale(1.3);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.mainFab:hover{

  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.fab-options{
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  right:0;
  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom ;
}

.fab:hover + .fab-options , .fab-options:hover{
  opacity : 1;
  transform: scale(1);
}



.fab-options li{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.fab-label{
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  border: 2px solid #000000;
  font-size: 16px;
  width: 100px;
  background:  #ffffff;
  color: #0170FF;;
  margin-right: 10px;
}

/* Home Page */

.homeDiv{
  margin-top: 8rem;
}

.profileImg{
  display: block;
	margin-left: auto;
	margin-right: auto;
	height: 20.0rem;
}

.profilePicture{
  position:relative;
	height: 20.0rem;
  width: 20.0rem;
  margin:0 auto;
}

.profilePicture img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.profilePicture  img.top:hover {
  opacity:0;
}

.introName h1{
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
}

.vectorDiv{
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.vectorImg{
  height: 15rem;
  max-width: 100%;
}

.sectionTitle{
  background-color: #0170FF;
  padding: 10rem;
  font-size: 4rem;
  line-height: 1rem;
  font-family: 'Teko', sans-serif;
}


/* Project Component */

.projects{
  margin-top : -0.15rem;
  align-items: center;
}


.contentDiv{
  margin: auto;
  margin-top: -10rem;
}


card-description{
  color: #FFFFFF;
  font-size: 1rem;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  text-align: center;
}



.card {
    height: 25rem;
    width: 25rem;
    display: inline-block;
    position: relative;
    margin-bottom: 2rem;
    perspective: 100rem;
    border-radius: 0%;
    border: 0rem;
    background: transparent;
}

.card-image {
  height: 20rem;
  width: 25rem;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.card-image img{
  margin-top: 3rem;
  height: 10rem;
  max-width: 25rem;
  background: #FFFFFF;
}

.project-card {
  background-size: cover;
  position: relative;
  height: 20rem;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  
}

.btn
{
background: #FFFFFF;
font-family: 'Teko', sans-serif;
font-size: 1.2rem;
width: 7rem;
margin-top : 10px;
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;
color: #0170FF !important;
font-weight: bold;
border-radius: 1.0rem;
border: 2px solid transparent;
}
.btn:hover
{
background: #0170FF;
font-weight: bold;
color: #FFFFFF !important;
border: 2px solid #0170FF;
border-bottom: 2px solid #FFFFFF;
}

.project-card h3{
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
}

.card:hover .project-card {
  transform: rotateY(180deg);
}

.card-image, .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.project-card-back {
  color: #FFFFFF;
  background-color: #0170FF;
  font-size: 1rem;
  vertical-align: middle;
  transform: rotateY(180deg);
}

.listButton
{
background: #0170FF;
width: 7rem;
margin: 0.5rem;
color: #FFFFFF;
font-weight: bold;
border-radius: 1.0rem;
border: 2px solid transparent;
}
.listButton:hover
{
background: #FFFFFF;
font-weight: bold;
color: #0170FF;
border: 2px solid #0170FF;
}




/* Education Component */

.eduContainer{
  margin-top: 0rem;
}

.education h3{
  font-size: 2rem;
  font-family: 'Teko', sans-serif;
}

.card-caption{
  color:#000000
}

.card-caption:hover{
  cursor: pointer;
  text-decoration: none;
}

.card-profile {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-avatar {
  width: 11rem;
  height: 11rem;
  margin: -50px auto 0;
  border-radius: 50%;
  background: #FFFFFF;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.table {
  margin-bottom: 0px;
}

.card .table {
  padding: 15px 30px;
}

.eduImg{
  display: block;
	margin-left: auto;
	margin-right: auto;
	height: 11rem;
}

.gpa{
    position: relative;
    line-height: 0;
    margin: 15px 0;
    color: #f44336;
}

/* Experience Component */

.experience{
  margin-bottom: 3rem;
}

.experienceDiv{
  background-color: #FFFFFF;
  margin-top: -10rem;
  border-radius: 0.5%;
  padding-top: 5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.experienceDiv h3{
  font-size: 2rem;
  font-family: 'Teko', sans-serif;
}

.experienceDiv h4{
  font-size: 1.5rem;
  font-family: 'Teko', sans-serif;
}

.expTextDiv{
  align-items : flex-start;
  text-align: left;
  border-bottom: 1px solid #D3D3D3;
}

.expTextDivLast{
  align-items : flex-start;
  text-align: left;
}

.expText{
  text-align: left;
}

.expImage{
  display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5rem;
}


/* Skills Component */

.skills{
  background-color: #FFFFFF;
  margin-top: -10rem;
  border-radius: 0.5%;
  padding-top: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.progress{
  margin: 2rem;
}

.progress-bar{
  width : 0;
  transition: all ease 0.5s;
}

.languages{
  margin: 3rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid #D3D3D3;
}

.frameworks{
  margin : 3rem;
  padding-bottom: 5rem;
}

.languages h3{
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.frameworks h3{
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.languages h5{
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  text-align: left !important;
  padding-left: 2rem;
}

.frameworks h5{
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  text-align: left !important;
  padding-left: 2rem;
}

/* Contact Component */

.contact{
  background-color: #FFFFFF;
  margin-top: -10rem;
  border-radius: 0.5%;
  padding-top: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10rem;
}

.btnContact
{
font-family: 'Teko', sans-serif;
font-size: 1.2rem;
background: #0170FF;
width: 7rem;
margin-top : 10px;
margin-bottom: 10px;
margin-left: 20px;
color: #FFFFFF !important;
font-weight: bold;
border-radius: 1.0rem;
border: 2px solid transparent;
}

.btnContact:hover
{
background: #FFFFFF;
font-weight: bold;
color: #0170FF !important;
border: 2px solid #FFFFFF;
border-bottom: 2px solid #0170FF;
}

.contactImageDiv img{
  width: auto;
  height: 20rem;
  margin-top: 5rem;
  vertical-align: middle;
}

.form-group label{
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
}
